	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<title>한국생산성본부 생산성경영지원시스템</title>
	<link rel="shortcut icon" href="./../../assets/images/app/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css" />
	<% if (layoutTemplate) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/layout.<%= layoutTemplate %>.css"><% } %>
	<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/page.<%= pageStyle %>.css"><% } %>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.min.js"></script> -->
	<script type="text/javascript" src="./../../assets/js/bui.js"></script>
	<script type="text/javascript" src="./../../assets/js/bui.template.js" defer></script>
	<% if (pageJavascript) { %><script type="text/javascript" defer src="./../../assets/js/page.<%= pageJavascript %>.js"></script><% } %>