<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'etc',
	pageStyle: 'etc',
	pageJavascript: ''
}) %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.etc.ejs', {
	pageName: '외부페이지 header',
}) %>
		<!-- page-body -->
		<div class="page-body page-survey page-survey-complete">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">고객만족 조사 완료(외부 접근 page)</span></h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-head -->
						<div class="content-head">
							<h3 class="content-title" id="contentTitle">
								<span class="content-name">생산성 경영지원 시스템 고객만족 조사</span>
							</h3>
						</div>
						<!-- //content-head -->
						<!-- content-body -->
						<div class="content-body">
							<!-- info-board -->
							<div class="info-board module-a style-b type-c attr-complete">
								<div class="board-wrap">
									<div class="board-body">
										<p class="para">고객만족 조사에 <span class="wbr">참여해주셔서 감사합니다.</span></p>
									</div>
								</div> 
							</div>
							<!-- //info-board -->
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
				<%-include('../_templates/_local.util.ejs') %>
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
	</div>
	<!-- //page -->
</div>
<hr />
<%-include('../_templates/_content.popup.ejs') %>
<script stype="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		// infoPopup.active('contentsShare');
	});
</script>
</body>
</html>