<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('./../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.intro.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<!-- page-head -->
		<div class="page-head" id="head">
			<h1 class="page-title" title="HOMEWORK"><a class="page-name" href="/"><abbr title="Basic User Interpace">BUI</abbr></a></h1>
		</div>
		<!-- //page-head -->

		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-body -->
				<div class="content-body">
					<!-- info-board -->
					<div class="info-board type-c">
						<div class="board-wrap">
							<div class="board-head"></div>
							<div class="board-body">
								<p class="para"><strong>유컴패니온 서비스운영 2본부 퍼블리싱팀</strong> 을 위한 작업 노하우 소스 공유페이지입니다..</p>
							</div>
							<div class="board-util">
								<!-- button-area -->
								<div class="button-area module-a style-a type-c">
									<a class="btn module-b style-a type-fill normal-00 medium" href="./../preview/front.html" target="_blank"><span class="btn-text">FRONT 바로가기</span></a>
								</div>
								<!-- //button-area -->
							</div>
						</div>
					</div>
					<!-- //info-board -->
				</div>
				<!-- //content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('./../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
</body>
</html>
