<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'snippet',
	pageStyle: '',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<%-include('../_templates/_header.snippet.ejs', {
			pageName: '',
		}) %>
		<!-- page-body -->
		<div class="page-body page-product-main" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">SNIPPET</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head">
					<h3 class="content-title"><span class="content-name">생산성 분석</span></h3>
				</div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- button-area -->
					<div class="button-area module-a style-a type-c">
						<a class="btn module-b style-c type-line normal-01 medium" href="#prodAnalysis" onclick="contentsPopup.active('prodAnalysis'); return false;"><span class="btn-text">팝업 열기</span></a>
					</div>
					<!-- //button-area -->
				</div>
				<!-- //content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
	</div>
	<!-- //page -->
</div>
<hr />
<%-include('../_templates/_content.popup.ejs') %>
<script stype="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		contentsPopup.active('prodAnalysis');
	});
</script>
</body>
</html>