<div class="post-read">
	<div class="post-wrap">
		<div class="post-inform">
			<div class="post-head">
				<div class="post-status">
					<div class="data-list">
						<span class="data-item">
							<% if (postStateClass) { %>
							<spa class="mark <%= postStateClass %>">
								<span class="mark-text"><% if (postStateText) { %><%= postStateText %><% } %></span>
							</span>
							<% } %>
						</span>
					</div>
				</div>
				<div class="post-subject">
					<span class="post-name">설문 타이틀명 영역입니다. 문구가 길어지면 최대 2줄까지 보여집니다.</span>
				</div>
			</div>
			<div class="post-foot">
				<div class="data-list">
					<span class="data-item period"><span class="data-head">기간</span> <span class="data-body">2021.12.08 10:00 ~ 2021.12.13 23:00</span></span>
					<span class="data-item voter"><span class="data-head">참여자</span> <span class="data-body">1,230명</span></span>
				</div>
			</div>
			<div class="post-body">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quas ipsum cum modi quae doloremque nobis vitae quisquam incidunt recusandae expedita soluta, quidem temporibus. Molestias iusto ut dolorem a laboriosam?
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>
		</div>
	</div>
</div>