<!DOCTYPE html>
<html lang="ko" class="layout-sample">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: '',
	pageStyle: '',
	pageJavascript: ''
}) %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<!-- page-body -->
		<div class="page-body">
			<!-- local -->
			<div id="local">
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-head -->
						<div class="content-head">
							<h3 class="content-title" id="contentTitle">
								<span class="content-name">consectetur adipisicing elit.</span>
							</h3>
							<p class="content-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div>
						<!-- //content-head -->
						<!-- content-body -->
						<div class="content-body">
							<div class="info-board">
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat repudiandae velit odit delectus totam, alias similique ipsam eum, temporibus aut vero iste deleniti, neque et molestias quae saepe rem illo?</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsam pariatur non aut! Eveniet perspiciatis consequuntur corporis ipsum quidem error velit explicabo quo reiciendis praesentium similique inventore vero, dignissimos deleniti.</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, nobis! Natus voluptate excepturi voluptatibus, ut blanditiis aut numquam atque, dolor consequatur temporibus reprehenderit non architecto reiciendis molestias error accusamus ipsa?</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro voluptates nam at, veritatis maiores delectus possimus consequatur molestias. Explicabo nemo non distinctio. Est officiis quibusdam similique nostrum, doloribus animi.]</p>
							</div>
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
	</div>
	<!-- //page -->
</div>
</body>
</html>